<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <title>Renaware</title>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendors/bootstrap/bootstrap.min.css','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendors/font-awesome/css/font-awesome.min.css','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendors/nprogress/nprogress.css','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendors/iCheck/flat/green.css','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendors/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendors/jqvmap/jqvmap.min.css','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vendors/bootstrap-daterangepicker/daterangepicker.css','data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'build/css/custom.min.css','data-turbolinks-track': 'reload' %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md">
    <%= yield %>
  </body>
</html>
