<!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
<!--       <ol class="carousel-indicators visible-lg visible-md">
        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
        <li data-target="#main-slide" data-slide-to="1"></li>
        <li data-target="#main-slide" data-slide-to="2"></li>
      </ol> -->
      <!--/ Indicators end-->


      <!-- Carousel inner -->
      <div class="carousel-inner">

        <div class="item active" style="background-image:url(<%= asset_path 'ViewUser/Rw_ProdBanner.jpg' %>)">
        </div>
        <!--/ Carousel item 1 end -->
      </div><!-- Carousel inner end-->

    </div>
    <!--/ Carousel end -->

   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">

            <div class="col-md-4">
               <div class="ts-service-box">
                  <div class="ts-service-image-wrapper">
                     <center>
                     <%= image_tag("ViewUser/Productos/serie zysltra.jpg", style: 'height:70%;width:70%;') %> 
                     </center>

                  </div>
                  <div class="ts-service-box-img pull-left">
                     
                  </div>
                  <div class="ts-service-info">
                     <br>

                     <h3 class="service-box-title"><a href="service-single.html">Serie Zylstra</a></h3>
                     <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
            
                  </div>
               </div><!-- Service1 end -->
            </div><!-- Col 1 end -->

            <div class="col-md-4">
               <div class="ts-service-box">
                  <div class="ts-service-image-wrapper">
                      <center>
                     <%= image_tag("ViewUser/Productos/aqua nano botella.jpg", style: 'height:70%;width:70%;') %> 
                     </center>
                  </div>
                  <div class="ts-service-box-img pull-left">
                  </div>
                  <div class="ts-service-info">
                     <h3 class="service-box-title"><a href="service-single.html">Botella Filtrante Aqua Nano</a></h3>
                     <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
              
                  </div>
               </div><!-- Service2 end -->
            </div><!-- Col 2 end -->

            <div class="col-md-4">
               <div class="ts-service-box">
                  <div class="ts-service-image-wrapper">
                      <center>
                     <%= image_tag("ViewUser/Productos/InductionCooker.jpg", style: 'height:70%;width:70%;') %> 
                     </center>
                  </div>
                  <div class="ts-service-box-img pull-left">
                  </div>
                  <div class="ts-service-info">
                     <h3 class="service-box-title"><a href="service-single.html">Induction Cooker</a></h3>
                     <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
        
                  </div>
               </div><!-- Service3 end -->
            </div><!-- Col 3 end -->

            <div class="gap-30"></div>

            <div class="col-md-4">
               <div class="ts-service-box">
                  <div class="ts-service-image-wrapper">
                      <center>
                     <%= image_tag("ViewUser/Productos/Extractor.jpg", style: 'height:70%;width:70%;') %> 
                     </center>                        
                  </div>
                  <div class="ts-service-box-img pull-left">
                  
                  </div>
                  <div class="ts-service-info">
                     <h3 class="service-box-title"><a href="service-single.html">Extractor</a></h3>
                     <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>

                  </div>
               </div><!-- Service4 end -->
            </div><!-- Col 4 end -->

            <div class="col-md-4">
               <div class="ts-service-box">
                  <div class="ts-service-image-wrapper">
                       <center>
                     <%= image_tag("ViewUser/Productos/cuchillos.jpg", style: 'height:70%;width:70%;') %> 
                     </center>   
                  </div>
                  <div class="ts-service-box-img pull-left">
             
                  </div>
                  <div class="ts-service-info">
                     <h3 class="service-box-title"><a href="service-single.html">Cuchillos</a></h3>
                     <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
   
                  </div>
               </div><!-- Service5 end -->
            </div><!-- Col 5 end -->

            <div class="col-md-4">
               <div class="ts-service-box">
                  <div class="ts-service-image-wrapper">
                        <center>
                     <%= image_tag("ViewUser/Productos/Filtro.jpg", style: 'height:70%;width:70%;') %> 
                     </center>      
                  </div>
                  <div class="ts-service-box-img pull-left">
           
                  </div>
                  <div class="ts-service-info">
                     <h3 class="service-box-title"><a href="service-single.html">Filtro Aqua Nano</a></h3>
                     <p>You have ideas, goals, and dreams. We have a culturally diverse, forward thinking team looking for talent like. Lorem ipsum dolor sit amet integer suscipit.</p>
             
                  </div>
               </div><!-- Service6 end -->
            </div><!-- Col 6 end -->

         </div><!-- Main row end -->
      </div><!-- Conatiner end -->
   </section><!-- Main container end -->
