	<% content_for(:head) do %>
		<%= stylesheet_link_tag "mainpage/main.css", media: "all", "data-turbolinks-track" => true %>
	<% end %>	
	<!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("STANLEY", "/", :class=>"navbar-brand") %>
          
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<li>
          		<%= link_to("Home", "/")%>
          	</li>
          	<li>
          		<%= link_to("Users")%>
          	</li>           	        
            <li>
            	<%= link_to("About") %>
            </li>
            <li>
          		<%= link_to("Contributors")%>
          	</li> 
          	<li>
          		<%= link_to("Features")%>
          	</li> 
            <li>
            	<%= link_to("Contact") %>
            </li>
            <li class="dropdown user user-menu">
            	<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span style="text-transform: none"><i class="caret"></i></span>
                </a>
                <ul class="dropdown-menu">
                	<li class="user-body">
                	
                	</li>
                	<li class="user-body" style="border-top: none; border-bottom: none">
                	</li>                	
                </ul>
            </li>
            	<li>
            	</li>
            	<li>
            	</li>
          </ul>
        </div><!--/.nav-collapse -->
        
      </div>
    </div>
